.greeting {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

.carousel {
    border-radius: 50px;


}

.carousel-item {
    max-width: 400%;
    min-width: 50vw;
    height: 500px;
    margin-top: 50px;
    
    img {
        height: 500px;
    }
   
    
  }

.social{
    min-width: 50px;
}

i{
    width: 50px;
}

.homepage {
    display: grid;
    align-items: center;
}
.navbar {
    display: grid;
    justify-items: center;
    justify-self: center;
}