@import "variables";

.text {
    background-color: #ffebb2;
    color: $color-skyblue;
}

.title {
    display: flex;
    justify-content: center;
    margin-top: 75px;
}

.addresses {
    display: flex;
    justify-content: space-around;
    margin-top: 125px;
}
