@import "variables";

.navbar {
    width: 100vw;         
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; 
}

.navbar img {
    width: 20vw;
    
}    

.nav {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-self: start;
    background-color: black;
}

.link {
    width: 100wv;
    display: flex;
    color: white;
    padding: 14px 16px;
    
    
}

.link:hover {
    background-color: red;
    text-decoration: none;
    color: green;
}